QTreeWidget, QListWidget {
  background-color: $arvore-cor-background;
  alternate-background-color: $arvore-cor-zebra;
  selection-background-color: $arvore-cor-selecionado;
}

QTreeWidget::item:hover {
  color: white;
  background-color: $arvore-cor-item-hover;
}

[accessibleName="selecao"] {
  background-color: transparent;
  font-size: 14px;
}

[accessibleName="selecao"]::item {
  background-color: $selecao-cor-item;
  border-right: 1px solid ;
  width: 100px;
}

[accessibleName="selecao"]::item:selected {
  background-color: $selecao-cor-borda-direita;
}

[accessibleName="selecao"]::item:hover {
  color: white;
  background-color: $selecao-cor-item-hover;
}
