$fundo: #fff;
$texto: #1d4646;

//$azul: #03a9f4;
//$azul-lighten-5: #e1f5fe;
//$azul-lighten-4: #b3e5fc;
//$azul-lighten-3: #81d4fa;
//$azul-lighten-2: #4fc3f7;
//$azul-lighten-1: #29b6f6;
//$azul-darken-1: #039be5;
//$azul-darken-2: #0288d1;
//$azul-darken-3: #0277bd;
//$azul-darken-4: #01579b;
//$azul-accent-1: #80d8ff;
//$azul-accent-2: #40c4ff;
//$azul-accent-3: #00b0ff;
//$azul-accent-4: #0091ea;

$azul: #607d8b;
$azul-lighten-5: #e1f5fe;
$azul-lighten-4: #b3e5fc;
$azul-lighten-3: #b0bec5;
$azul-lighten-2: #90a4ae;
$azul-lighten-1: #78909c;
$azul-darken-1: #546e7a;
$azul-darken-2: #455a64;
$azul-darken-3: #37474f;
$azul-darken-4: #263238;
$azul-accent-1: #80d8ff;
$azul-accent-2: #40c4ff;
$azul-accent-3: #00b0ff;
$azul-accent-4: #0091ea;

$ciano: #00bcd4;
$ciano-lighten-5: #e0f7fa;
$ciano-lighten-4: #b2ebf2;
$ciano-lighten-3: #80deea;
$ciano-lighten-2: #4dd0e1;
$ciano-lighten-1: #26c6da;
$ciano-darken-1: #00acc1;
$ciano-darken-2: #0097a7;
$ciano-darken-3: #00838f;
$ciano-darken-4: #006064;
$ciano-accent-1: #84ffff;
$ciano-accent-2: #18ffff;
$ciano-accent-3: #00e5ff;
$ciano-accent-4: #00b8d4;

$teal: #009688;
$teal-lighten-5: #e0f2f1;
$teal-lighten-4: #b2dfdb;
$teal-lighten-3: #80cbc4;
$teal-lighten-2: #4db6ac;
$teal-lighten-1: #26a69a;
$teal-darken-1: #00897b;
$teal-darken-2: #00796b;
$teal-darken-3: #00695c;
$teal-darken-4: #004d40;
$teal-accent-1: #a7ffeb;
$teal-accent-2: #64ffda;
$teal-accent-3: #1de9b6;
$teal-accent-4: #00bfa5;


$corA0: #9FBBD6; // Main Primary color */
$corA1: #E1EBF5;
$corA2: #C2D5E8;
$corA3: #7C9EC0;
$corA4: #5A81A6;

$corB0: #AAA7DC; // Main Secondary color (1) */
$corB1: #E5E4F7;
$corB2: #C9C7EB;
$corB3: #8A87C9;
$corB4: #6B67B2;

$corC0: #9CD9C3; // Main Secondary color (2) */
$corC1: #E0F6EE;
$corC2: #C0E9DB;
$corC3: #79C4A9;
$corC4: #57AB8E;

