$fundo: #fff;
$texto: #1d4646;

$corA0: #9FBBD6; // Main Primary color */
$corA1: #E1EBF5;
$corA2: #C2D5E8;
$corA3: #7C9EC0;
$corA4: #5A81A6;

$corB0: #AAA7DC; // Main Secondary color (1) */
$corB1: #E5E4F7;
$corB2: #C9C7EB;
$corB3: #8A87C9;
$corB4: #6B67B2;

$corC0: #9CD9C3; // Main Secondary color (2) */
$corC1: #E0F6EE;
$corC2: #C0E9DB;
$corC3: #79C4A9;
$corC4: #57AB8E;
