QLineEdit, QSpinBox, QDoubleSpinBox, QTextEdit {
  background-color: $corC1;
}

QComboBox {
  background-color: $corC0;
  selection-color: #000;
  selection-background-color: $corC1;
}

QComboBox:focus, QComboBox:hover {
  background-color: $corC3;
  selection-color: #000;
  selection-background-color: $corC1;
}