QGroupBox {
  background-color: transparent;
}

[accessibleName="quadro"] {
  border-style: none !important;
}

QFrame {
  position: relative;
  border-style: none;
}

QTabWidget::tab-bar {
  left: 5px; /* move to the right by 5px */
}

QTabBar::tab {
  background: $corA1;
  border: 1px solid $corA3;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 1px solid $corA2;
  min-width: 8ex;
  padding: 2px;
}

QTabBar::tab:selected {
  background: $corA2;
  border: 1px solid $corA3;
  border-bottom: none;
}