QComboBox {
  background-color: $corC0;
  selection-color: #000;
  selection-background-color: $corC1;
}

QComboBox:focus, QComboBox:hover {
  background-color: $corC3;
  selection-color: #000;
  selection-background-color: $corC1;
}

QStackedWidget {
  background-color: $corA2;
}

QGroupBox {
  background-color: transparent;
}

QFrame {
  border-style: none;
}

[accessibleName="quadro"] {
  border-style: none !important;
}

QTabWidget::tab-bar {
  left: 5px; /* move to the right by 5px */
}

QTabBar::tab {
  background: $corA1;
  border: 1px solid $corA3;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 1px solid $corA2;
  min-width: 8ex;
  padding: 2px;
}

QTabBar::tab:selected {
  background: $corA2;
  border: 1px solid $corA3;
  border-bottom: none;
}