$janela-cor-background: $azul-lighten-5;
$janela-cor-tab-background: $azul-lighten-4;

$tab-cor:  $azul-lighten-5;
$tab-borda-cor: $azul-lighten-4;
$tab-selecionada-cor:  $azul-lighten-4;
$tab-selecionada-borda-cor: $azul-lighten-4;

$button-cor-texto: #000;
$button-cor-texto-hover: #fff;
$button-cor-texto-disabled: $teal-lighten-4;
$button-cor-secundaria: $teal-accent-4;
$button-cor-background: $teal-accent-4;
$button-cor-background-disabled: $teal-lighten-5;
$button-cor-background-hover: $azul-darken-1;

$button-border: none !default;
$button-background-focus: lighten($button-cor-secundaria, 4%) !default;
$button-font-size: 14px !default;
$button-icon-font-size: 1.3rem !default;
$button-height: 36px !default;
$button-padding: 0 16px 0 16px !default;
$button-radius: 2px !default;

$arvore-cor-background: $corC1;
$arvore-cor-zebra: $corC2;
$arvore-cor-selecionado: $corC3;
$arvore-cor-item-hover: $corC4;

$selecao-cor-item: $corB2;
$selecao-cor-borda-direita: $corC4;
$selecao-cor-item-hover: $corC4;

$check-cor-borda: $ciano-darken-3;
$check-cor-check: $ciano-darken-3;
$check-cor-hover: $ciano-darken-2;
$check-cor-check-hover: $ciano-darken-1;

$input-cor: $azul;
$input-cor-borda: $azul-darken-1;
