$fundo: #fff;
$texto: #1d4646;

$corA0: #9FBBD6; // Main Primary color */
$corA1: #E1EBF5;
$corA2: #C2D5E8;
$corA3: #7C9EC0;
$corA4: #5A81A6;

$corB0: #AAA7DC; // Main Secondary color (1) */
$corB1: #E5E4F7;
$corB2: #C9C7EB;
$corB3: #8A87C9;
$corB4: #6B67B2;

$corC0: #9CD9C3; // Main Secondary color (2) */
$corC1: #E0F6EE;
$corC2: #C0E9DB;
$corC3: #79C4A9;
$corC4: #57AB8E;

QDialog, QMainWindow {
  background-color: $corA1;
}

QPushButton {
  background-color: $corC2;
}

QLineEdit, QSpinBox, QDoubleSpinBox, QTextEdit {
  background-color: $corC1;
}

QComboBox {
  background-color: $corC0;
  selection-color: #000;
  selection-background-color: $corC1;
}

QStackedWidget {
  background-color: $corA2;
}

QGroupBox {
  background-color: transparent;
}

QFrame{
  border-style: none;
}

[accessibleName="quadro"]{
  border-style: none !important;
}

QTreeWidget, QListWidget {
  background-color: $corC1;
  alternate-background-color: $corC2;
}

[accessibleName="selecao"]{
  background-color: transparent;
  font-size: 14px;
}

[accessibleName="selecao"]::item{
  background-color: $corB2;
  border-right: 1px solid $corC4;
  width: 100px;
}

[accessibleName="selecao"]::item:selected{
  background-color: $corC3;
}

QHeaderView{
  background-color: $corC0;
}

QCalendarWidget QAbstractItemView {
  background-color: $corA1;
  selection-background-color: $corC4;
  alternate-background-color: $corC1;
  border-style: solid;
  border-width: 1px;
  border-color: $corA0;
}

QScrollBar:vertical {
  border: 1px solid #999999;
  background: white;
  width: 10px;
  margin: 0px 0px 0px 0px;
}

QScrollBar::handle:vertical {
  background: $corA0;
  min-height: 0px;
}

QScrollBar::add-line:vertical {
  background: $corA0;
  height: 0px;
  subcontrol-position: bottom;
  subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical {
  background: $corA0;
  height: 0px;
  subcontrol-position: top;
  subcontrol-origin: margin;
}

QProgressBar {
    border: 1px solid black;
    text-align: center;
    padding: 2px;
    border-radius: 3px;
    background: $corA1;
}

QProgressBar::chunk {
    background: $corA0;
    border-radius: 3px;
    border: 1px solid black;
}

QTabWidget::tab-bar {
    left: 5px; /* move to the right by 5px */
}

QTabBar::tab {
    background: $corA1;
    border: 1px solid $corA3;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  border-bottom: 1px solid $corA2;
    min-width: 8ex;
    padding: 2px;
}

QTabBar::tab:selected{
  background: $corA2;
  border: 1px solid $corA3;
  border-bottom: none;
}